# Files to ignore when considering what GIT should commit.

# Specific Source build products
*.lib
*.dll
*.pdb
*.so
*.so.dbg


cfg/config.cfg
cfg/keys_spectator.cfg
cfg/keys_survivor.cfg
cfg/keys_zm.cfg
cfg/pet.txt
cfg/commedit.txt
cfg/settings.scr

maps/*.log

resource/zmtips_hudtips_used.txt
resource/zmtips_loadingscreen_used.txt
resource/zmcrosshairs.txt

sound/soundcacheversion.txt

stats.txt
server_blacklist.txt
serverconfig.vdf

addons/
cfg/sourcemod/
custom/
download/
downloadlists/

*.tmp
*.cache
*.dt
*.dat
*.dem

*.jpg
*.png
*.pdn
*.db
*.prt
*.vmx

*.mdmp
*.ain
*.csv
*.ztmp

videoconfig_linux.cfg
glshaders.cfg

